body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    flex-direction: column;
}

article{
    width: 600px;
    background-color:#d1d7dd;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -600px;

}

article>header>h1{
    font-size: 50px;
    text-align: center;

}

.container {
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

h4 {
    margin: 10px 0 5px;
    font-size: 1rem;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.hasil {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}

.tips{
    margin-top: 600px;
}
